html,
body {
  margin: 0;
  height: 100%;
}

.nav {
  display: flex;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

#left-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1;
}

#right-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
}

.top-button {
  margin-left: 8px;
  margin-right: 8px;
}

.top-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.nav div#topimage {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#middle {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  text-align: center;
}

#searchbarcontainer {
  margin-top: 20px;
  text-align: center;
  position: relative;
}

#search,
#voice {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search {
  left: 10px;
}

#voice {
  right: 10px;
}

#searchbar {
  padding-top: 10px;
  padding-bottom: 10px;
  outline: 0px;
  width: 500px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 15px;
  border: 1px solid #c4c4c4;
}

#searchbar:hover {
  box-shadow: 0 0 10px 2px rgb(233, 233, 233);
}

#search-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.button {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  background: rgb(231, 231, 231);
  border: 2px solid transparent;
}

.button:hover {
  box-shadow: 0 0 2px 1px rgb(130, 130, 130);
  border: 2px solid #eee;
}

#links {
  margin-top: 20px;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
}

#footer-content {
  background: rgb(242, 242, 242);
  border-top: 1px solid rgb(242, 242, 242);
}
